export CONTAINER_REGISTRY_URL=container-registry:5000

export ONEC_USERNAME=YOUR_USERNAME_HERE
export ONEC_PASSWORD=YOUR_PASSWORD_HERE
export ELEMENTSCRIPT_DOWNLOAD_KEY=YOUR_API_KEY_HERE

export TEST_UTILS_EXTRA_PACKAGES="xdotool"
