.DS_Store
desktop.ini

# Configuration file for HASP LM
nethasp.ini

# Local installation files
distr/**
!distr/.gitkeep
!distr/BUILD
lic/**.lic

# Local environment files
*.env
*.envrc

# Bake plan artifacts
bake-plan.json
bake-metadata.json

# Devcontainer overrides
.devcontainer/local.compose.yaml
