export ONEC_USERNAME=onec
export ONEC_PASSWORD=onec
export ONEC_VERSION=8.3.18.1520
export EDT_VERSION=2021.2.7
export OPENJDK_VERSION=17
export COVERAGE41C_VERSION=''

export DOCKER_REGISTRY_URL=docker-registry:5000
export DOCKER_LOGIN=login
export DOCKER_PASSWORD=password

export EXECUTOR_VERSION=3.0.2.2
export DEV1C_EXECUTOR_API_KEY=YOUR_API_KEY_HERE

export TEST_UTILS_EXTRA_PACKAGES="xdotool"

export DOCKER_SYSTEM_PRUNE=false
export NO_CACHE=false

export TOOLBX_IMAGE=quay.io/toolbx/ubuntu-toolbox
export TOOLBX_TAG=24.04
